body {
    --scroll: 0;
    background-color: #FFF;
    color: #000;
    font-optical-sizing: auto;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    margin: 0;
    margin-bottom: 5rem;
}
